<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
	<context:property-placeholder location="redis/production/redis.properties"/>
	
    <bean id="redis" class="org.eop.jedis.DefaultRedis" init-method="initializeJedisCluster">
   		<property name="clusterNodes" value="${cluster.clusterNodes}"/>
   		<property name="connectionTimeout" value="${cluster.connectionTimeout}"/>
   		<property name="soTimeout" value="${cluster.soTimeout}"/>
   		<property name="maxAttempts" value="${cluster.maxAttempts}"/>
   		<!-- <property name="password" value="${cluster.password}"/> -->
   		<property name="lifo" value="${pool.lifo}"/>
   		<property name="fairness" value="${pool.fairness}"/>
   		<property name="maxWaitMillis" value="${pool.maxWaitMillis}"/>
   		<property name="minEvictableIdleTimeMillis" value="${pool.minEvictableIdleTimeMillis}"/>
   		<property name="softMinEvictableIdleTimeMillis" value="${pool.softMinEvictableIdleTimeMillis}"/>
   		<property name="numTestsPerEvictionRun" value="${pool.numTestsPerEvictionRun}"/>
   		<property name="evictionPolicyClassName" value="${pool.evictionPolicyClassName}"/>
   		<property name="testOnCreate" value="${pool.testOnCreate}"/>
   		<property name="testOnBorrow" value="${pool.testOnBorrow}"/>
   		<property name="testOnReturn" value="${pool.testOnReturn}"/>
   		<property name="testWhileIdle" value="${pool.testWhileIdle}"/>
   		<property name="timeBetweenEvictionRunsMillis" value="${pool.timeBetweenEvictionRunsMillis}"/>
   		<property name="blockWhenExhausted" value="${pool.blockWhenExhausted}"/>
   		<property name="maxTotal" value="${pool.maxTotal}"/>
   		<property name="maxIdle" value="${pool.maxIdle}"/>
   		<property name="minIdle" value="${pool.minIdle}"/>
    </bean>
    
</beans>